@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');
.topcontent{
    color: white;
    position: relative;
}
.topcontent_container{
    position: absolute;
    top:300px;
    right: 150px;
}
.topcontent_container>p{
    letter-spacing: 1px;
    text-align: left;
    padding-left:3px ;
    padding-top:20px ;


}
.topcontent_container>a>button{
    margin-top:30px ;
    text-align: left;
    border:name;
    border-radius:2px ;
    outline: none;
     

}
.topcontent_container >h1{
   font-size:50px ;
   font-family:"montsarrat",sans-serif ; 
}
.topcontent_downloadbutton{
  color: white; 
  background-color: tomato;
  font: 14px;
  padding: 10px 30px;
  font-family:"montsarrat" sans-serif ;
  cursor: pointer;
  margin-right: 20px;

}
.topcontent_downloadbutton:hover{
    color:tomato ;
    background-color: white;
    font-weight: 600;

}
.topcontent_workbutton{
    color: white;
    border: 1px solid white !important;
    background-color:transparent ;
    font-size:14px ;
    padding:9px 45px ;
    font-family: "montsarrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.topcontent_workbutton:hover{
   color: black;
   background-color: white;
   font-weight: 600; 
}